@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 8px;
    margin-left: -4rem;
    margin-top: 1.5rem;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('Pictures/back.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .background-image {
        background-size: cover; /* Maintain cover for medium screens */
    }
}

@media (max-width: 480px) {
    .background-image {
        background-size: cover; /* Maintain cover for small screens */
    }
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.nav-list li {
    display: flex;
    align-items: center;
}
.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    font-family: 'Stint Ultra Condensed', sans-serif;
}
.nav-list li a:hover {
    color: #fff100;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #046637;
    min-width: 10rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
    border: 2px solid #fff100;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
}
.dropdown-menu li a {
    color: #fff100;
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none;
    font-family: 'Stint Ultra Condensed', sans-serif;
}
.dropdown-menu li a:hover {
    background-color: #056637;
    text-decoration: underline;
}
.social-icons {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.social-icon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s;
}
.social-icon:hover {
    transform: scale(1.1);
}
.logo {
    position: absolute;
    top: 1em;
    left: 1em;
}
.logo img {
    width: 5rem;
    height: auto;
    transition: transform 0.3s;
}
.logo:hover img {
    transform: scale(1.1);
}
.icon, .house-icon {
    opacity: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(40px);
    transition: opacity 0.4s ease, transform 0.4s ease, width 0.2s, height 0.2s;
    position: relative;
    top: 0.5rem;
}
.home-link:hover .house-icon,
.crops-link:hover .crops-icon,
.products-link:hover .products-icon,
.blogs-link:hover .blog-icon,
.calendar-link:hover .calendar-icon,
.partners-link:hover .partner-icon {
    opacity: 1;
    transform: translateX(0);
    width: 1.5rem;
    height: 1.5rem;
}
.about-us {
    padding: 5% 5%;
    background-color: #f5f5f5;
    color: #333;
}
.about-us h2 {
    font-family: 'Stint Ultra Condensed', sans-serif;
    font-size: 2.5rem;
    color: #046637;
}
.about-us p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: 'Marcellus', sans-serif;
}
.content-block {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-bottom: 3em;
}
@media (min-width: 768px) {
    .content-block {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .image-left {
        order: 1;
        margin-right: 1rem;
    }
    .text-block {
        order: 2;
        max-width: 50%;
        text-align: left;
        margin: 0 1rem;
    }
    .image-right {
        order: 3;
        margin-left: 1rem;
    }
}
@media (max-width: 767px) {
    .content-block {
        flex-direction: column;
    }
    .image-right, .image-left {
        order: 1;
    }
    .text-block {
        order: 2;
        text-align: center;
    }
    .btn {
        order: 3;
    }
}
.text-block {
    max-width: 90%;
    text-align: center;
}
.image-left, .image-right {
    width: 80%;
    max-width: 400px;
    height: auto;
}
.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1.25rem;
    color: #fff;
    background-color: #046637;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Stint Ultra Condensed', sans-serif;
}
.btn:hover {
    background-color: #fff;
    color: #046637;
}
.info_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 5%;
    background-color: #f5f5f5;
}
.info_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    min-height: 20em;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}
.info_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card__content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    border-radius: 20px;
}
.card__wrapper h2, .card__wrapper h3 {
    margin: 0.5em 0;
}
.card__wrapper h2 {
    font-size: 2rem;
    color: #fff100;
    font-family: 'Stint Ultra Condensed', sans-serif;
}
.card__wrapper h3 {
    font-size: 1.5rem;
    color: #ddd;
    font-family: 'Marcellus', sans-serif;
}
.card__wrapper p {
    font-size: 1rem;
}
.action-btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.25rem;
    background-color: #046637;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 0.5em;
    font-family: 'Stint Ultra Condensed', sans-serif;
}
.action-btn:hover {
    background-color: #fff;
    color: #046637;
}
@media (min-width: 718px) and (max-width: 1078px) {
    .info_container {
        grid-template-columns: 1fr 1fr;
    }
    .expand-full {
        grid-column: 1 / -1;
    }
}
.footer-section {
    background-color: #046637;
    color: white;
    padding: 2em 5%;
    font-family: 'Marcellus', sans-serif;
}
.footer-col {
    flex: 1;
    min-width: 250px;
}
.footer-col h6 {
    font-size: 1.25rem;
    color: #fff100;
    margin-bottom: 1em;
}
.footer-col p, .footer-col ul {
    font-size: 1rem;
    line-height: 1.6;
}
.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-col ul li a:hover {
    color: #fff100;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid #fff100;
    padding-top: 1em;
    margin-top: 1em;
}
.footer-bottom p {
    font-size: 1rem;
}
.social-icons2 {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}
.social-icons2 img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s;
}
.social-icons2 img:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .nav-list {
        position: absolute;
        top: 0;
        left: -2rem;
        right: 0;
        height: 50vh;
        margin-top: 8rem;
        background-color: #046637;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out, opacity 0.5s;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        border: 2px solid #000;
    }
    .nav-list.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    .social-icons {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 5rem;
        margin-top: -2rem;
        background-color: #046637;
        min-width: 10rem;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        border: 2px solid #fff100;
    }
}
@media (max-width: 1120px) {
    .hamburger {
        display: flex;
    }
    .nav-list {
        position: absolute;
        top: 0;
        left: -2rem;
        right: 0;
        height: 50vh;
        margin-top: 8rem;
        background-color: #046637;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out, opacity 0.5s;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        border: 2px solid #000;
    }
    .nav-list.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    .social-icons {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 5rem;
        margin-top: -2rem;
        background-color: #046637;
        min-width: 10rem;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        border: 2px solid #fff100;
    }
}
@media (min-width: 1412px) {
    .nav-list li a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        padding: 0.5rem 1rem;
        transition: color 0.3s;
        font-family: 'Stint Ultra Condensed', sans-serif;
    }
    .icon, .house-icon {
        opacity: 0;
        width: 2.5rem;
        height: 2.5rem;
        transform: translateX(40px);
        transition: opacity 0.4s ease, transform 0.4s ease, width 0.2s, height 0.2s;
        position: relative;
        top: 0.5rem;
    }
}
::-webkit-scrollbar {
    width: 24px;
}
::-webkit-scrollbar-track {
    background: #046637;
}
::-webkit-scrollbar-thumb {
    background-color: #046637;
    border-radius: 10px;
    border: 4px solid #000;
}
